@model Project1.Models.Product
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*dl-Data List
  dt-Data Term
  dd-Data definition*@


<dl>
    <dt>Product Id</dt>
    <dt>Name</dt>
    <dt>Price</dt>
    <dd>@Model.ProductId</dd>
    <dd>@Model.Name</dd>
    <dd>@Model.Price</dd>
</dl>

