@model Project1.Models.Products
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<dl>
    <dt>Product Id</dt>
    <dd>@Model.ProductId</dd>
    <dt>Name</dt>
    <dd>@Model.Name</dd>
    <dt>Price</dt>
    <dd>@Model.Price</dd>
</dl>
